body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}
  
#quiz-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 75vh;
}

button {
    border: none;
    border-radius: 4px;
    background-color: darkcyan;
    color: #fff;
    width: 45%;
    padding: 10px;
    margin-top: 5px;
}

/* style the question option buttons */
  